.card{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card .header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 90%;
    height: 10%;
    background-color: #0F8199;
    color: #ffffff;
    align-items: center;
    padding: 0px 10px;
}
.card .header .icon img{
    height: 24px;
    width: auto;
}

.card .header .heading{
    justify-self: center;
    padding-right: 20px;
    font-size: 20px;
}

.card .content{
    background-color: #ffffff;
    height: 100%;
}