@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .transfer-card-container{
        width: 30%;
        height: 30%;
        margin-right: 50px;
    }

    .transaction-list-card-container{
        width: 60%;
        height: 55%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) { 
    .transfer-card-container{
        width: 30%;
        height: 52%;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) { 
    .transfer-card-container{
        width: 30%;
        height: 40%;
        margin-right: 30px;
    }

    .transaction-list-card-container{
        width: 65%;
        height: 70%;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) { 
    .transfer-card-container{
        width: 30%;
        height: 40%;
        margin-right: 30px;
    }

    .transaction-list-card-container{
        width: 65%;
        height: 70%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 812px){
    .page-header .logo {
        width: 40%;
    }

    .container{
        display: inline-table;
        padding: 4% 0 0;
        height: 95%;
        width: 90%;
    }

    .transfer-card-container {
        width: 100%;
        height: 40%;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .transaction-list-card-container{
        width: 100%;
        height: 70%;
    }

    .transactionList .actions-bar {
        margin-bottom: 20px;
        display: inline-table;
    }

    .actions-bar .search input {
        margin-bottom: 10px;
    }
}