.transactionList{
    padding: 15px;
    /* max-height: 100%;
    overflow-y: auto; */
}
.transactionList .actions-bar{
    margin-bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}

.actions-bar .search{
    display: flex;
    width: 100%;
    height: 100%;
}
.actions-bar .search .cancel:hover{
    cursor: pointer;
}
.actions-bar .search .cancel::after{
    content: '\00d7';
    font-size: 16px;
}
.actions-bar .search input{
    width: inherit;
    height: 80%;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    border:0;
    border-bottom: 1px solid #CCCCCC;
}
.actions-bar .search input:focus{
    outline: none;
}

.actions-bar .search input::-webkit-input-placeholder{
    font-family: 'Kanit', sans-serif;
}
.actions-bar .sort{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 15% auto;
    padding-left: 3%;
}

.actions-bar .sort .button.highlight::after{
    content: '\25bc';
    font-size: 10px;
    margin-left: 10px;
    color: #656565;
}
.actions-bar .sort .button.highlight.asceding::after{
    content: '\25b2';
}

.actions-bar .sort > div{
    align-self: center;
    font-size: 12px;
    font-weight: 800;
}

.actions-bar .sort .button{
    background-color: #ffffff;
    height: inherit;
    font-family: 'Kanit', sans-serif;
    border: 1px solid #CCCCCC;
    font-size: 12px;
    text-transform: uppercase;
}

.actions-bar .sort .button:hover{
    cursor: pointer;
}

.actions-bar .sort .button:focus{
    outline: none;
}

.transactionList .transaction-list-container{
    min-height: 30vh;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.transactionList .transaction {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1% 10% 15% 40% 30% 4%;
    width: 100%;
    border: 1px solid #CCCCCC;
    height: 50px;
}
.transaction > div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.transaction .merchant-logo img{
    height: 70%;
    width: auto;
}
.transaction .merchant-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 800;
    font-size: 13px;
}

.transaction .merchant-name div:last-child{
    font-weight: 300;
}

.transaction .transaction-amount{
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
}

